html{
  background-color: #000;
}
p{
  margin: 0;
  padding: 0;
}
.counterText{
  color: #fff;
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: #222;
  padding: 1rem;
  margin: 3rem;
  border-radius: 4px;
}
@media (max-width: 600px){
  .counterText{
    font-size: 1.2em;
    padding: 0.8rem;
    margin: 1.2rem;
  }
}
